# Backend Server Port Configuration
PORT=5003

# SMTP Server Configurations
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM="Sakshi Kore Portfolio" <your-verified-sender-email>

# Reciever inbox details
RECEIVER_EMAIL=your-destination-inbox@example.com
